// Default colors and Fontsizes 
:root {
    --primaryColor: hsl(233, 52%, 19%);
    --secColor: hsl(233, 16%, 44%);
    --hoverColor: hsl(8, 100%, 70%);
    --blackColor: #707070;
    --greyText: hsl(0, 0%, 75%);
    --bgColor: hsl(0, 0%, 100%);
    --shadowColor: hsla(0, 0%, 0%, 0.314);
    --gradient: linear-gradient(to bottom, hsl(16, 100%, 71%), hsl(8, 100%, 70%));
    --boxShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.5) 0px 4px 6px -2px;
    --borderRadius: 10px;

    /* Font and Typography */
    --biggestFontSize: 2.4rem;
    --h1FontSize: 2.2rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
}

.Categories {
    .secHeader {
        text-align: center;
    }

    .secContainer {
        gap: 1rem;

        .singleCard {
            text-align: center;
            padding: 2rem;
            border-radius: var(--borderRadius);
            gap: 1rem;
            height: 100%;

            .imgDiv {
                position: relative;
                width: 90%;
                justify-content: center;
                align-items: center;
                margin: 1rem auto;

                .mainImage {
                    width: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: auto;
                }

                .design {
                    position: absolute;
                    width: 60px;
                    right: 40%;
                    left: 60%;
                    top: -10px;
                    z-index: -1;
                    transform: translate(-50%);
                }
            }

            span {
                font-size: var(--h2FontSize);
                font-weight: 600;
                color: var(--primaryColor);
            }

            p {
                max-width: 80%;
                text-align: center;
                margin: auto;
                font-weight: 500;
                color: var(--secColor);
                line-height: 23px;
                font-size: var(--h3FontSize);
            }

            &:hover {
                box-shadow: var(--shadowColor);
                transition: all .4s ease-in-out;
            }
        }
    }
}